---
---

@import "{{ site.theme }}";

.inner {
  width: 900px;
}

.body {
  color: #000000;
  background: #ffffff;
}

#container {
  color: #000000;
  background: #ffffff;
}

.logo {
  height: 500px;
  background: url('/assets/images/flow-step-logo.svg') center no-repeat;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


.sticky + .content {
  padding-top: 102px;
}
