---
---

@import "{{ site.theme }}";

.inner {
  width: 900px;
}

.body {
  color: #000000;
  background: #ffffff;
}

#container {
  color: #000000;
  background: #ffffff;
}

.logo {
  height: 500px;
  width: 950px;
  margin-left: -20px;
  background: url('/assets/images/flow-step-logo.svg') center no-repeat;
}


.sticky {
  position: fixed;
  top: -290px;
  left: 190px;
}

.content_sticky {
  padding-top: 500px;
}


.sticky + #main_content {
  padding-top: 102px;
}
